# https://docs.neoforged.net/docs/advanced/accesstransformers
public net.minecraft.client.gui.screens.achievement.StatsScreen$GeneralStatisticsList
public net.minecraft.client.gui.screens.achievement.StatsScreen$GeneralStatisticsList$Entry
public net.minecraft.client.gui.screens.achievement.StatsScreen$GeneralStatisticsList$Entry stat ()Lnet/minecraft/stats/Stat;
public net.minecraft.client.gui.screens.achievement.StatsScreen$ItemStatisticsList
public net.minecraft.client.gui.screens.achievement.StatsScreen$ItemStatisticsList blockColumns ()Ljava/util/List;
public net.minecraft.client.gui.screens.achievement.StatsScreen$ItemStatisticsList itemColumns ()Ljava/util/List;
public net.minecraft.client.gui.screens.achievement.StatsScreen$ItemStatisticsList$ItemRow
public net.minecraft.client.gui.screens.achievement.StatsScreen$MobsStatisticsList
public net.minecraft.client.gui.screens.achievement.StatsScreen$MobsStatisticsList$MobRow
public net.minecraft.client.gui.screens.achievement.StatsScreen$MobsStatisticsList$MobRow mobName ()Lnet/minecraft/network/chat/Component;
public net.minecraft.client.gui.screens.achievement.StatsScreen$MobsStatisticsList$MobRow kills ()Lnet/minecraft/network/chat/Component;
public net.minecraft.client.gui.screens.achievement.StatsScreen$MobsStatisticsList$MobRow killedBy ()Lnet/minecraft/network/chat/Component;
public net.minecraft.client.gui.components.AbstractSelectionList$Entry
public net.minecraft.client.gui.screens.achievement.StatsScreen NO_VALUE_DISPLAY ()Lnet/minecraft/network/chat/Component;